{% extends 'base.html' %}

{% block titulo %}Perfil{% endblock %}

{% block contenido %}
<h2>Actualizar Perfil</h2>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="first_name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}" required>
    </div>
    <div class="mb-3">
        <label for="last_name" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
    </div>

    <h2>Cambiar Contraseña</h2>
    {{ password_form.as_p }}

    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>
{% endblock %}
